[submodule "MetaMorph/EigenLite"]
	path = MetaMorph/EigenLite
	url = https://github.com/thetechnobear/EigenLite
[submodule "MetaMorph/libscala-file"]
	path = MetaMorph/libscala-file
	url = https://github.com/MarkCWirt/libscala-file.git
